html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.header {
  text-align: center;
  height: 10vh;
  background-color: rgb(127, 255, 165);
  border-bottom: solid rgb(3, 17, 216);
  border-width: 0.1vw;
  line-height: 10vh;
}
.header img {
  margin-top: 2vh;
  float: left;
  margin-left: 2vw;
}
.navOptions {
  margin-right: 2vw;
  float: right;
  vertical-align: middle;
}
.options {
  margin-left: 1vw;
  text-decoration: none;
  padding: 4px;
  border: 2px solid rgb(3, 17, 216);
  border-radius: 0.5vw;
  font-family: Apple Chancery, cursive;
}
.options:hover {
  border: 4px solid rgba(238, 255, 0, 0.973);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.pokemon {
  width: 28vw;
  float: left;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: white;
  padding: 1vw;
  border-radius: 1vw;
  text-decoration: none;
}
.pokemon h3,
h5 {
  font-family: Apple Chancery, cursive;
}
.pokemon:hover {
  background-color: gray;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.contents {
  width: 90vw;
  display: inline-block;
  margin: auto;
}
.content {
  background-color: rgb(71, 224, 235);
  height: 90vh;
  text-align: center;
}
